body {
	background-color:rgba(255, 255, 255, 1);
	margin: 0;
	padding: 0;
	font-family: 'Amatic SC', cursive; 
	background-image: url('../img/Spa.jpg');
	 background-size: cover;
	
}

header {
	background-color:rgba( 122, 132, 131, 0.8);
	padding: 1em 1em 1em 1em;
	font-weight: normal;
	color: white;

}

header div.head {
	overflow: hidden;
	margin-bottom: .5em;
}

.logox {
	float: right;
}

header h1 {
	padding-top: .5em;
	
	font-size: 30px;
	margin-bottom: 0.1em;
}

header h2 {
	font-size: 0.9em;
	margin: 0;
}

header nav {
	overflow: hidden;
	border-radius: 3px;
	background: rgba( 0, 0, 0, 0.2);
	padding: 1em;
}

header nav div.izda {
	float: left;
}

header nav div.dcha {
	float: right;
}

header nav span + span:before {
    content: " || ";
    padding: 0 .3em;
}

.menuitem {   
	border-radius: 3px;
	padding: 10px;
	color: white;
	text-decoration: none;
}

.menuitem:link, .menuitem:visited {
}

.menuitem:hover {
	background-color: darkgray;
}

div.pagina {
	position: relative;
	min-height: 100vh;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

section.principal {
  flex: 1 0 auto;
}


footer {
	flex-shrink: 0;
		background-color:rgba( 122, 132, 131, 0.8);
	font-weight: normal;
	font-size:21px;
	color: white;
	padding: 1em;
}

div.sinpermiso {
	width: 50%;
	margin: auto;	
}

div.error {
	
	text-align: center;
	background-color:  rgba(129, 121, 81, 0.17);
	border: 1px solid GREY;
	border-radius: 10px;
margin-left:300px;
margin-top:50px;
	padding: .5em 2em .5em 2em;
	color: BLACK;
}
