form {
	overflow: hidden;
	background-color: #c0c0c0;
	border: 1px solid black;
	border-radius: 10px;
	margin: 2em 0;
	padding: 2em;
}

div.form {
	width: 85%;
	margin: auto;
}

form div.out {
	width: 50%;
	float: left;
}

form div.in {
	padding: 2em;
}

div.clear {
	clear: both;
}

form label {
	font-weight: bold;
	font-size: 0.7em;
}

form input[type="text"] {
	width: 100%;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px; 
	border-bottom: 1px solid blue;
	outline: none;
}

#esplst {
	width: 100%;
}

p.esptxt {
	margin: 0 0 .5em 0;
}

p.esp {
	width: 90%;
	margin: 0 auto 0.5em auto;
}

form p.bottom {
	border-radius: 10px;
	
	padding: 1em 2em 1em 2em;
	margin: 0;
	text-align: center;
}

