form {
	overflow: hidden;
		background-color:rgba( 122, 132, 131, 0.8);
	border: 1px solid black;
	border-radius: 10px;
	margin: 2em 0;
	padding: 2em;
	color:white;
	font-size:20px;
}

div.form {
	width: 50%;
	margin: auto;
}

form label {
	font-weight: bold;
	font-size: 0.7em;
}

form input[type="text"], form input[type="password"] {
	width: 100%;
	height:30px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px; 
	border-bottom: 1px solid blue;
	outline: none;
}

form p.bottom {
	border-radius: 10px;

	padding: 5px;
	margin: 0;
	text-align: center;
}
input[type="submit"]{
	background-color:#d2d200;
	border-radius:7px;
	padding:10px;
	color:black;
	
}
